@import "syntax-highlighting.css";

/* code :not(pre) {color: red} */
/* Override theme from https://github.com/tejasbubane/hakyll-css/tree/master/css */
pre.sourceCode {
    margin: 10px;
}

div.sourceCode {
    border-radius: 5px;
}
/* End of override */

body {
  color: black;
  font-size: 1rem;
  line-height: 140%;
  margin: 0 auto 0 auto;
  width: 800px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

code {
  font-family: 'Lucida Console', Monaco, monospace;
}

div#header {
  background: #343434;
  border-top: solid 2px black;
  color: #EEE;
  padding: 12px 12px 12px 12px;
}

div#logo a {
  color: #EEE;
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

div#header #navigation {
  text-align: right;
}

div#header #navigation a {
  color: #EEE;
  font-size: 18px;
  font-weight: bold;
  margin-left: 12px;
  text-decoration: none;
}

div#footer {
  background: #343434;
  border-top: solid 2px black;
  color: #EEE;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 12px 12px 12px;
  text-align: right;
}

div#footer a {
  color: #fb8694;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}
