<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <title>Julien Debon's blog - $title$</title>
  <link rel='stylesheet' type='text/css' href='/css/default.css'/>
  <link rel="alternate" type="application/rss+xml" title="RSS feed for Julien Debon's blog" href="https://sir4ur0n.github.io/rss.xml">
  <link rel="alternate" type="application/atom+xml" title="Atom feed for Julien Debon's blog" href="https://sir4ur0n.github.io/atom.xml">
</head>
<body>
<div id='header'>
  <div id='logo'>
    <a href='/'>Julien Debon's blog</a>
  </div>
  <div id='navigation'>
    <a href='/'>Home</a>
    <a href='/about-me.html'>About me</a>
    <a href='/about-this-blog.html'>About this blog</a>
  </div>
</div>

<div id='content'>
  <h1>$title$</h1>

  $body$
</div>
<div id='footer'>
  Built with <a href='http://jaspervdj.be/hakyll'>Hakyll</a>
</div>
</body>
</html>
